<!DOCTYPE html>
<html lang="pt-br">
<%- include('../partials/head', { title: 'Formulario de atualização de categoria' }) %>
<%- include('../partials/nav-bar') %>

<div class="container mt-5 w-50">
    <br>
    <form action="/categories/update/<%= category.id %>?_method=PUT" method="post"> <!-- Inclua o ID na URL -->
        <div class="card">
            <div class="card-header">
                <h2>Edição de categoria</h2>
            </div>
            <div class="card-body">
                <input type="hidden" name="id" value="<%= category.id %>">
                <input class="form-control" placeholder="Digite aqui a atualização da categoria." type="text" name="title" required value="<%= category.title %>">
            </div>
        </div>
        <button type="submit" class="btn btn-success mt-3">Atualizar Categoria</button>
    </form>
</div>

<%- include('../partials/footer') %>
</html>
