<!DOCTYPE html>
<html lang="pt-br">
<%- include('../partials/head', { title: 'Formulário de Atualização de Artigo' }) %>
<%- include('../partials/nav-bar') %>

<div class="container mt-5 w-50" style="padding-top: 70px;"> <br>
    <form action="/articles/update/<%= article.id %>?_method=PUT" method="post"
        onsubmit="return confirmEdit(event, this)">
        <div class="card">
            <div class="card-header">
                <h2>Edição de Artigo</h2>
            </div>
            <div class="card-body">
                <input type="hidden" name="id" value="<%= article.id %>">
                <input class="form-control" placeholder="Digite aqui a atualização do artigo" type="text"
                    name="title" required value="<%= article.title %>">
                <textarea placeholder="Escreva aqui seu artigo" class="form-control" name="body" id="body"
                    rows="16"><%= article.body %></textarea>
            </div>
        </div>
        
        <label class="mb-2" for="category">Categoria</label>
        <select name="category" id="category" class="form-select mb-3">
            <% categories.forEach(category=> { %>
                <option value="<%= category.id %>" <%=category.id===article.categoryId ? 'selected' : '' %>>
                    <%= category.title %>
                </option>
            <% }) %>
        </select>
        <button type="submit" class="btn btn-success mt-3">Atualizar Artigo</button>
    </form>
</div>

<%- include('../partials/footer') %>


<script src="/tinymce/tinymce.min.js"></script>

<script>
    tinymce.init({
        language: 'pt_BR',
        selector: "#body",
        plugins: [
            'advlist autolink link image lists print preview hr searchreplace fullscreen insertdatetime media save table paste emoticons'
        ]
    })
</script>

<script>
    function confirmEdit(event, form) {
        event.preventDefault();
        const isConfirmed = confirm("Tem certeza que deseja editar esse artigo?");
        if (isConfirmed) {
            form.submit();
            alert("Artigo Editado com Sucesso.");
        }
    }
</script>

</html>